// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	//border: 0;//
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

//variables//
@backgroundcolor:  #000000;
@accentcolor: #7611B2;
@headingcolor: #FFFFFF;
@paragraphcolor: #949195  ;
@main-font: 'Abel', sans-serif;
@bold-font: 'Kanit', sans-serif;
@dates-font:'Caveat', cursive;

//mixins//

.text(){
	display:flex;
	justify-content: left;
	align-items: left;

}

.center(){
	display:flex;
	justify-content: center;
	align-items: center;
}

*{
	max-width: 100%;
	//border: 1px solid red//
}


body{
	background-color: @backgroundcolor;
	
}

header{
	width:100%;
	margin: 2%;
	padding: 2%;
	
	
		nav{
			width:100%;
			display:flex;
			justify-content: flex-end;
			
			@media( max-width: 500px ){
				justify-content: center;
			}
		}//This closes nav//

			a{
				font-size: 1.2rem;
				font-family:@main-font;
				text-decoration: none;
				color: @headingcolor;
				padding: 2%;

					
				
			}//This closes a links//
}//This closed the header//

.topcontent{
	.center();

	@media( max-width: 500px ){
		flex-direction: column;
		width:100%;
	}

	.profilePic{
		.center();
		max-width:20%;
		height:auto;

		@media( max-width: 500px ){
			max-width: 50%;
		}

		
		
		

		img{
			padding:0;
			border: 10px solid @accentcolor;
			border-radius: 50%;
			
		}//This closes img//

	
}//This closes .profilePic//
}//This closes top content//

	
.aboutInfo{
	width:30%;
	padding:2%;
	@media( max-width: 500px ){
		width:100%;
		
	}
	
	

	h1{
		color: @headingcolor;
		font-size: 4rem;
		width:80%;
		padding-bottom:4%;
		padding-top: 1%;
		font-family:@bold-font;

		@media( max-width: 500px ){
			width:100%;
			text-align:center;
		}
	}//This close h1//

	p{
		color: @paragraphcolor;
		width:80%;
		padding-top:0;
		padding-bottom: 4%;
		font-family: @main-font;
		@media( max-width: 500px ){
			width:100%;
			text-align:center;
		}
		}//This closes p//

		.button{
			@media( max-width: 500px ){
				display: flex;
				align-content: center;
				justify-content: center;
				
			}
		}

		.square_btn{
		width:25%;
		text-align: center;
		display: inline-block;
		padding: 7px 20px;
		border-radius: 25px;
		text-decoration: none;
		color: #FFF;
		background-color: @backgroundcolor;
		border: 3px solid @accentcolor;
		font-family: @bold-font;
		
	
	

		
		
		
	}//This closes square//
		
	}//This closes aboutinfo//

	.title{
		font-size: 3rem;
		color: @headingcolor;
		margin-left:20%;
		padding-top:6%;
		padding-bottom: 2%;
		font-family: @bold-font;

		@media( max-width: 500px ){
			width:100%;
			margin-left:0;
			text-align:center;
		}

	}

	.skills{
		color:@paragraphcolor;
		padding-left: 20%;
		font-family: @main-font;
		@media( max-width: 500px ){
			width:100%;
			padding-left:0%;
			display:flex;
			justify-content: center;
			align-items: center;
			flex-direction:column;
			flex-wrap: wrap;
		}

		
		

		i{
			padding-left: 0%;
			margin-left:0;
			padding-right:5%;
			color: @accentcolor;

			@media( max-width: 500px ){
				width:100%;
				padding:2%;
				padding-top: 4%;
				
			}
			
			
			
		}

		
		th{
			text-align: left;
			font-size: 1.5rem;
			color:@headingcolor;
			padding:2%;
			padding-left: 0;
			font-family: @bold-font;
			@media( max-width: 500px ){
				width:50%;
				padding:2%;
				text-align:center;
				
			}
			
		}

		td{
			padding-right: 10%;
			padding-left:5%;
			@media( max-width: 500px ){
				width:50%;
				padding:3%;
				text-align:center;
				
			}
			

		}
	}

	.title2{
		font-size: 3rem;
		color: @headingcolor;
		margin-top: 2%;
		padding-top:5%;
		padding-bottom: 1%;
		width:100%;
		font-family: @bold-font;

		@media( max-width: 500px ){
			width:100%;
			padding:0;
			text-align:center;
			padding-top:10%;
			
		}

	}
	
	.workHistory{
		display: flex;
		flex-direction: row;
		width:80%;

		@media( max-width: 500px ){
			width:100%;
			padding:0;
			text-align:center;
			
		}

		

		li{
			font-size:1.5rem;
			

			i{
				padding-right:2%;
			}
		}
		.jobHeader{
			color:@headingcolor;
			padding-top: 2%;
			padding-bottom: 2%;
			font-family: @bold-font;
		}

		.dates{
			padding-left: 4.3%;
			font-size:1.3rem;
			font-family: @dates-font;
			padding-bottom:1%;
		}

		.description{
			padding-left: 4.3%;
			font-size: 1rem;
			font-family: @main-font;

			@media( max-width: 500px ){
				padding:4%;
				
				
			}
			
		}
		
	
	}

	footer{
		width:80%;
		border-top: 1px solid @accentcolor;
		margin-top: 2%;

		nav{
			width:100%;
			padding:2%;
			display: flex;
			justify-content: center;
			

			a{
				font-size:1.5rem;
				padding:2%;
			}
		}
	}
		